<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="user-info">
        <img
          src="<%= user.profileImage %>"
          alt="<%= user.username %>'s profile"
          class="profile-image"
        />
        <!-- <span><%= user.username %></span> -->
        <span
          ><%= user.username.charAt(0).toUpperCase() + user.username.slice(1)
          %></span
        >
      </div>
      <a href="/auth/logout" class="logout-btn">Logout</a>
    </header>
    <h1>
      Welcome, <%= user.username.charAt(0).toUpperCase() +
      user.username.slice(1) %>!
    </h1>
    <!-- <h1>Welcome, <%= user.username %>!</h1> -->
    <p>Home Page.</p>
  </body>
</html>
